--swiftversion 6.2
--exclude Sources/RepoBar/API/Generated
--indent 4
--allman false
--semicolons never
--commas inline
--self insert
--wraparguments before-first
--wrapcollections before-first
--binarygrouping 4,8
--hexgrouping 4,8
--decimalgrouping 3,6
--enable blankLinesAfterGuardStatements
--enable isEmpty
--enable privateStateVariables
