<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleExecutable</key>
    <string>RepoPeek</string>
    <key>CFBundleDisplayName</key>
    <string>RepoPeek</string>
    <key>CFBundleIdentifier</key>
    <string>com.weirdoadam.repopeek</string>
    <key>CFBundleIconFile</key>
    <string>Icon</string>
    <key>CFBundleName</key>
    <string>RepoPeek</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>2026.06.04</string>
    <key>CFBundleVersion</key>
    <string>2026060402</string>
    <key>LSUIElement</key>
    <true/>
    <key>LSMultipleInstancesProhibited</key>
    <true/>
    <key>NSAppleEventsUsageDescription</key>
    <string>RepoPeek uses Apple Events to open Ghostty in a new window.</string>
    <key>NSHighResolutionCapable</key>
    <true/>
</dict>
</plist>
